<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>754302722949-nfcpifaiolf53da0e9m1e8apv78aboih.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.754302722949-nfcpifaiolf53da0e9m1e8apv78aboih</string>
	<key>API_KEY</key>
	<string>AIzaSyBlpDLvBvNlJothz3KerSs0raqJfrD9jIg</string>
	<key>GCM_SENDER_ID</key>
	<string>754302722949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emrecifci.superfoodUsersApp</string>
	<key>PROJECT_ID</key>
	<string>superfood-3534f</string>
	<key>STORAGE_BUCKET</key>
	<string>superfood-3534f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:754302722949:ios:d2575e1d2ac3f38ea4daec</string>
	<key>DATABASE_URL</key>
	<string>https://superfood-3534f-default-rtdb.firebaseio.com</string>
</dict>
</plist>